ul {
	font-size: 30px;
}


@font-face{
    font-family: "Market Deco";
    src: url('../fonts/Market_Deco.eot') format('embedded-opentype'),
    url('../fonts/Market_Deco.otf') format('opentype'); /* IE */
}


.navbar-custom{
	background-color:#03a9f4 !important;
	
}

body{
	background-color: #def2ff;
}
.navbar-brand{
	color: #def2ff !important;
	font-family:Market Deco!important;
	font-size: 30px;	
}

.link-nav a{
	color: #def2ff !important;
	font-family:Market Deco !important;
	font-size: 30px;
}

.jumbotron{
	background-color: #03d1f4 !important;
	border-radius: 10px; 
}

.title{
	color:#def2ff !important;
}

.title2{
	color:#03a9f4 !important;
}