.navbar-custom{
	background-color:#03a9f4 !important;
	
}

body{
	background-color: #f7fcff;
}

.link-nav a{
	color: #0331f4 !important;
}

.jumbotron{
	background-color: #03e5f4 !important;
	border-radius: 10px; 
}