.navbar-custom{
	background-color: #03A9F4;
}

body{
	/*background-color: #FEE9E7;*/
}

.link-nav a{
	color: #ffffff !important;
}

.jumbotron{
	background-color:#4CAF50 !important;
	border-radius: 10px; 
}